.container {
   font-size: 1.2rem;
   font-family: "Roboto";
}

.header-text {
   color: #735F4A;
   text-align: center;
   font-size: 32px;
   font-weight: bold;
   font-family: Tahoma;
}

.card-text {
   color: #663300;
   font-weight: bold;
   font-size: 1.1rem;
   /* text-align: center; */
   /* text-indent: 4%; */
}