
.header-text {
   color: #735F4A;
   text-align: center;
   font-size: 28px;
   font-weight: bold;
   font-family: Tahoma;
}

div {
   font-family: "Roboto";
}

.form-row {
   font-size: 1.2rem;
}

.form-group input {
   width: 90%;
}

#submit-button {
   border-radius: 30px;
   width: 200px;
   height: 50px;
   background-color: #735F4A;
   color: #fff;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: 500;
}