@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   height: 100vh;
   width: 100vw;
   max-height: 100vh;
   max-width: 100vw;
   overflow-x: hidden;
}

.card {
   font-size: 1.2rem;
}

.navbar-header-text {
   color: #735f4a;
   font-family: Tahoma;
   font-size: 2rem;
   font-weight: bold;
}

.navbar-email-text {
   font-size: 1.1rem;
}

.grid-tabs-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 130px;
   /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   grid-template-rows: repeat(2, 130px); */
   /* height: 130px; */
   /* margin: 1rem 4rem; */
   /* gap: 12%; */
}

.grid-item {
   height: 130px;
}

.grid-item:hover {
   cursor: pointer;
   /* text-decoration: underline; */
   filter: drop-shadow(0 4px 4px rgba(175, 103, 69, 0.5));
   transition: linear .3s;
   /* transform: scale(1.03); */
}

.grid-item.active {
   filter: drop-shadow(0 4px 4px rgba(175, 103, 69, 0.5));
}

.grid-item.active>.grid-img-wrapper {
   filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.25));
   box-shadow: 0 0 2pt 3pt #705e47c5;
}

.active .grid-img-wrapper {
   /* border: 3px solid #705e47c5; */
   /* outline: 3px solid #705e47c5; */
}

.grid-item .grid-item-text {
   text-align: center;
   font-family: Roboto;
   margin: 0;
   margin-top: 5%;
}

.grid-img-wrapper {
   /* display: table-cell; */
   /* vertical-align: middle; */
   margin: 0 auto;
   text-align: center;
   background-color: #DAB88B;
   max-width: 100px;
   max-height: 100px;
   border-radius: 15%;
   padding: 15px;
}

.grid-img-wrapper img {
   width: 70px;
   height: 70px;
   /* object-fit: cover; */
}

.grid-container {
   display: grid;
   grid-gap: 5px;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   grid-template-rows: repeat(2, 100px);
   margin: 1rem 4rem;
   padding-top: 1rem;
   height: 10rem;
}

.g-item {
   height: 100%;

}

.g-img-wrapper {
   background-color: #DAB88B;
   max-width: 105px;
   max-height: 105px;
   border-radius: 15%;
   margin: 0 auto;
   height: 100px;
   position: relative;
}

.g-img-wrapper > img {
   width: 70%;
   height: 70%;
   object-fit: fill;
   position: absolute;
   top: 20%;
   left: 15%;
}

.g-item > p {
   margin: 0;
   text-align: center;
   background-color: #fff;
}

.hr-line {
   margin: 40px 20px 0 20px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 5px solid #867357;
}

/* iframe style */
.tab-content-container {
   /* display: none; */
   border: none;
   margin: 20px 80px;
   height: 600px;
}


.tab-content {
   /* display: none; */
   width: 100%;
   height: 100%;
   border: none;
}

@media screen and (max-width: 766px) {
   .grid-container {
      height: 15rem;
   }

   .grid-tabs-container {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: repeat(2, 130px);
   }
}

@media screen and (max-width: 508px) {
   .grid-container {
      height: 20rem;
   }
}

