* {
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
   width: 100vw;
}

#register-form {
   margin-top: 2rem;
}

label {
   /* width: 15rem; */
}

/* .card-body {
   font-family: Roboto;
} */

/* .form-group {
   font-size: 1.1rem;
} */

.header {
   font-size: 2rem;
   font-family: Tahoma;
   color: #735f4a;
   font-weight: bold;
   line-height: 1.2;
   text-align: left;
   max-width: 500px;
   width: 500px;
   text-align: left;
}

.reg-info-wrapper {

}

.reg-info-wrapper label {
   font-family: Tahoma;
   max-width: 500px;
   width: 100%;
}

.lock {
   pointer-events: none;
   opacity: 0.3;
   cursor: not-allowed;
}