/* Стили для второй версии */

/* * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: consolas, serif;
   height: 100vh;
   width: 100vw;
}

.form-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

form {
   display: flex;
   flex-direction: column;
   max-width: 400px;
}

input {
   margin: 10px 0;
   padding: 5px;
   border: unset;
   border-radius: 2px;
   border-bottom: 2px solid #e3e3e3;
   outline: none;
}

input:focus {

}


button {
   padding: 10px;
   background: #e3e3e3;
   border: unset;
   cursor: pointer;
}

button:focus {
   
}

a {
   color: #7c9ab7;
   text-decoration: none;
   font-weight: bold;
}

p {
   margin: 10px 0;
}

.msg {
   border: 2px solid rgb(255, 190, 70);
   border-radius: 3px;
   padding: 5px;
   text-align: center;
}

.reg-info-wrapper {
   margin: 10px 0;
}

.email-anchor {
   margin: 10px 0;
}

.email-anchor:hover {
   opacity: .7;
}

.logout {

   margin: 10px 0;
   color: #ee6736;
   text-align: right;
}

.logout:hover {
   color: #df957a;
} */


/* BOOTSTRAP */

body {
   width: 100vw;
   height: 100vh;
}

label {
   width: 15rem;
}

.header {
   font-size: 2rem;
   font-family: Tahoma;
   color: #735f4a;
   font-weight: bold;
   line-height: 1.2;
   text-align: left;
}

/* .card-body {
   font-family: Roboto;
}

.form-group {
   font-size: 1.1rem;
} */

#signin-form {
   margin-top: 3rem;
}

.form-field___help {
   /* font-family: 'OpenSans', Arial, Helvetica; */
   line-height: 30px;
   display: inline-block;
   margin: 16px 0 0 1rem;
   font-size: 1.1rem;
   font-weight: 400;
   text-decoration: none;
}

.bottom-text {

}

.msg {
   border: 2px solid rgb(255, 190, 70);
   border-radius: 3px;
   padding: 5px;
   text-align: center;
}

/* button {
   outline: none;
   appearance: none;
   cursor: pointer;
   width: 30%;
   height: 48px;
   border: 0;
   border-radius: 4px;
   padding: 0 20px;
   font-family: 'Leto Sans';
   font-size: 16px;
   font-weight: normal;
   color: #ffffff;
   text-transform: uppercase;
   background: #0000f3;
} */
