.header-text {
   font-weight: 700;
   font-size: 28px;
   color: #735F4A;
   text-align: center;
   font-family: Tahoma;
}

div {
   font-family: "Roboto";
}

.form-group label {
   font-size: 24px;
   font-weight: 400;
}

#ticket-input-container {
   margin: 4rem 0;
}

#bind-button {
   text-align: center;
   margin: 0 auto;
   border-radius: 30px;
   width: 200px;
   height: 50px;
   background-color: #735F4A;
   color: #fff;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: 500;
}